{% extends 'FlorProjectFrontendBundle:Common:layout_general.html.twig' %}
{% block page_content %}
<!-- Catalog block BEGIN -->
<div class="team-block content content-center margin-bottom-50 margin-top-20" id="">
    <div class="container margin-top-20">
        <div id="mapsnlock" class=" center-block">

        </div>
    </div>
</div>
<!-- Sendit block END -->
{% endblock %}
