{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div style="padding-top: 60px; padding-bottom: 60px">
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
</div>
{% endblock fos_user_content %}
