{% extends 'FlorProjectFrontEndBundle:Common:layout_general.html.twig' %}

{% block navigation_login %}
{% endblock navigation_login %}

{% block page_content %}
    <div class="col-md-12">
        <div id="profile-info-col" class="col-md-7 col-sm-12 col-xs-12">
            {% block form_view %}
                <div>
                    <div class="col-xs-offset-2">
                        <div id="change-profile-text">Bienvenido, {{ fbUser.getFirstName() }}!</div>
                        <div id="fill-profile-text">
                            <a href="{{ path('fos_user_profile_edit') }}">Editar su perfil ahora</a> y díganos más acerca de usted
                            <a href="{{ path('home') }}">No, Gracias, Continuar a Lovenlock.com</a>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
            {% endblock form_view %}
        </div>
    </div>
{% endblock page_content %}
