{% if not(app.user and is_granted('ROLE_USER')) %}
    <li class="exclude">|</li>
    <li class="lower-case">
        <a data-toggle="modal" data-target="#sign-in-modal" >Entrar</a>
    </li>
    <li class="exclude">|</li>
    <li class="lower-case">
        <a data-toggle="modal" href="#register-modal">Registrarse</a>
    </li>
    <li class="exclude">|</li>
{% else %}
    <li class="exclude">|</li>
    <li class="lower-case">
        <a href="#"><img src="/bundles/florprojectfrontend/images/common/cesta.png"></a>
    </li>
    <li class="exclude">|</li>
    <li class="lower-case">
        <a href="{{ path('fos_user_profile_show') }}" >Perfil</a>
    </li>
    <li class="exclude">|</li>
    <li class="lower-case">
        <a href="{{ path('fos_user_security_logout') }}">Salir</a>
    </li>
    <li class="exclude">|</li>
{% endif %}