<div>
    <p>
        Haga click <a href="{{ url('show_gift', {'codeGive': give.codeGive}) }}">aqui</a> para verlo.
    </p>
    <iframe src="{{ url('show_gift', {'codeGive': give.codeGive}) }}" style="width: 100%; height: 100%;">

    </iframe>
</div>